/* html {
	height: 100%;
}
body {
	height: 100%;
} */
main {
	height: 100vh;
	background-image: url("provence1.jpg");
	background-size: cover;
	position: relative;
	overflow: hidden;
}
#background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
}
main h1 {
	color: white;
	font-size: 800%;
}
main button {
	background-color: green;
	display: inline;
}
#searchbar {
	flex-wrap: nowrap;
	opacity: 0;
}
form > input {
	margin: 0;
}
/* icons */
#animation {
	position: relative;
	display: flex;
}

#tomate,
#steak,
#wine,
#seafood {
	width: 8rem;
	height: 8rem;
	position: absolute;
	top: -2rem;
	left: 4rem;
	visibility: hidden;
}
