/* html {
	height: 100%;
}
body {
	height: 100%;
} */
main {
	height: 100vh;
	background-image: url("provence1.jpg");
	background-size: cover;
	position: relative;
	overflow: hidden;
}
#body {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 5;
}
#background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
}
main h1 {
	color: white;
	font-size: 800%;
	margin: 0.5rem 0;
}
#searchbar button {
	background-color: green;
	display: inline;
	cursor: pointer;
}
#searchbar {
	flex-wrap: nowrap;
	opacity: 0;
}
form > input {
	margin: 0;
}
/* icons */
#animation {
	position: relative;
	display: flex;
	justify-content: center;
}

#tomate,
#steak,
#wine,
#seafood {
	width: 8rem;
	height: 8rem;
	position: absolute;
	top: -2rem;
	left: 5rem;
	visibility: hidden;
}

/* MODAL */

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modal button {
	border-radius: 5px;
	height: 4rem;
	width: 8rem;
	background-color: green;
	font-weight: bold;
	margin: 0 1rem;
	cursor: ;
}

/* Modal Content/Box */
.modal-content {
	background-image: url('bluetable.jpg');
	background-size: cover;
	background-color: #fefefe;
	margin: 0; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 100%; /* Could be more or less, depending on screen size */
	height: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	z-index: 10;
	justify-content: center;
	align-items: center;
}

/* The Close Button */
.close {
	color: #aaa;
	font-size: 4rem;
	font-weight: bold;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	color: white;
}

.close:hover,
.close:focus {
	color: rgba(0, 0, 0, 0.9);
	text-decoration: none;
	cursor: pointer;
}

#recette,
#resto {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	display: none;
}
#recette figure,
#resto figure {
	margin: 0 auto;
	background-color: white;
}
figure h3 {
	margin: 0;
	padding: 0;
}
figure p {
	margin: 0;
	font-weight: bold;
}
figure img {
	height: 14rem;
}
